section#author
    .container
        .row
            .col-md-5.col-sm-5
                .olga_container
                    img(src="img/olga.png", alt="Ольга Кононенко")#olga
            .col-md-2.col-sm-1
            .col-md-5.col-sm-6
                #about
                    h4 Ольга Кононенко
                    ul.about_list
                        li &mdash; Дважды сертифицированный преподаватель по Дистанционному Видению
                        li &mdash; Фасилитатор ACCESS BARS
                        li &mdash; Тета практик ( по методу Theta Healing )
                        li &mdash; Терапевт по методу “ Позитивная терапия “ Н. Пезешкиана
                        li &mdash; Рейки практик 
                        li &mdash; Нумеролог
                        li &mdash; Обучалась в ИКСР методу “ Системные расстановки “ Б.Хеллингер
section#autor_blockquote
    .container
        h5 “Я веду обучающие тренинги , выпускаю квалифицированных специалистов (вьюверов - это новая профессия специалистов, которые могут получить любую информацию, вне зависимости от её нахождения во времени и пространстве) .  Я просто счастлива от того, что могу помогать открывать способности Человека, данные ему по праву рождения от Бога​​”