mixin fors(src, h, p, num )
    .for_single
        .for_img(class= num)
        p= p
section#for
    .container
        h3.general_subtitle Этот мини-курс для тех, кто хочет:
        #for_container
            .row
                .col-md-3.col-sm-3
                    +fors('img/1.png','Причина 1','определить свою истинную цель и перестать трудиться на осуществление чьих-то посторонних целей', 'for_img_first')
                .col-md-3.col-sm-3
                    +fors('img/2.png','Причина 2','всегда доводить начатое до логического конца', 'for_img_second')
                .col-md-3.col-sm-3
                    +fors('img/3.png','Причина 3','понять, почему не исполняется желаемое и не достигаются цели, даже если очень стараешься', 'for_img_third')
                .col-md-3.col-sm-3
                    +fors('img/4.png','Причина 4','исключить такие препятствия на пути к достижениям, как саботаж собственного сознания и сопротивление окружения', 'for_img_fourth')
            .row
                .col-md-3.col-md-offset-2.col-sm-offset-1.col-sm-3
                    +fors('img/5.png','Причина 5','перестать заниматься “самоедством”, повысить уверенность в себе и своих возможностях, начать собой гордиться', 'for_img_fifth')
                .col-md-3.col-sm-3
                    +fors('img/6.png','Причина 6','научиться формулировать свои желания и ставить цели таким образом, чтобы для их достижения требовалось минимум усилий, благодаря тому, что ваш запрос был услышан Вселенной, и она дала вам максимум возможностей для реализации задуманного', 'for_img_sixth')
                .col-md-3.col-sm-3
                    +fors('img/7.png','Причина 7','определить на сколько ваши истинные ценности являются таковыми и вашими, а не навязаны извне', 'for_img_seventh')