section#main_screen
    include header
    #main
        .container
            .pre Мини-курс
            h1.main_title
                span 10 СИЛЬНЫХ ЦЕЛЕЙ 
                | – КВАНТОВЫЙ СКАЧОК ВОПЛОЩЕНИЯ
            p.main_who Автор курса: Ольга Кононенко
            .btn_n_date
                .main_date
                    p Начало курса
                    p 27 августа 19-00 Мск
                a.button.button_main(href="#prices")
                    span.btnflip-item.btnflip_front Записаться
                    span.btnflip-item.btnflip_center
                    span.btnflip-item.btnflip_back Сейчас