section#main_screen
    include header
    #main
        .container
            .pre Мини-курс
            h1.main_title
                span 10 СИЛЬНЫХ ЦЕЛЕЙ 
                | – КВАНТОВЫЙ СКАЧОК ВОПЛОЩЕНИЯ
            h2.main_subtitle Автор курса: Ольга Кононенко
            .btn_n_date
                .date
                    p.date Начало курса
                    p.date 27 августа 19-00 Мск
                a.button(href="#!") Записаться