section#plan
    .plan_day.plan_day_first
        .container
            img(src="img/vector/day_1.svg", alt="День 1").plan_day_img
            .day_container
                h4.plan_day_title 1 День
                ul.plan_day_list
                    li - Пошаговый алгоритм
                    li - Первая встреча со своими целями
                    li - Чем отличаются цели от желаний «хочушек»
                    li - Почему надо отказаться от «хочу» и заявить о желании иметь
                    li - Какие уровни бывают у целей
    .plan_day.plan_day_second
        .container
            img(src="img/vector/day_2.svg", alt="День 2").plan_day_img
            .day_container
                h4.plan_day_title 2 день
                ul.plan_day_list
                    li - Какие внутренние ценности перекликаются с Вашими целями
                    li - Какая иерархия существует у Ваших ценностей
                    li - Супермаркет целей
                    li - Как системы (семьи, общества, страны) могут препятствовать реализации целей
                    li - Как договариваться и расширять эти системы
    .plan_day.plan_day_third
        .container
            img(src="img/vector/day_3.svg", alt="День 3").plan_day_img
            .day_container
                h4.plan_day_title 3 день
                ul.plan_day_list
                    li - Экология цели
                    li - Как отличить свои цели от чужих (родительских, рекламных, системных)
                    li - Постэффекты (бонусы). Что еще станет возможным при реализации целей
                    li - Ресурсы для достижения цели, и как конвертировать одни ресурсы в другие
                    li - Первые шаги навстречу своим целям
                    li - Новые заключительные формулировки целей
    .plan_day.plan_day_fourth
        .container
            img(src="img/vector/day_4.svg", alt="День 4").plan_day_img
            .day_container
                h4.plan_day_title 4 день
                ul.plan_day_list
                    li - Магия соединения - квантовый скачок
                    li - Тета манифестация целей
                    li - Тотальное удаление препятствий на пути соединения с целью
    a.button.plan_button(href="#prices")
        span.btnflip-item.btnflip_front Записаться
        span.btnflip-item.btnflip_center
        span.btnflip-item.btnflip_back Сейчас