section#prices
    .container
        #price_container
            p.price Стоимость - 
                span 3 900р.
            p.price Скидка - 
                span#sale 1 000р.
            p.price Стоимость сегодня - 
                span#today 2 900р.
            a.button.button_buy(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1925&clean=true&lg=ru" target="_blank")#link Купить
        h3.general_subtitle.author_title О тренере