section#certs_and_reveiws
	.container
		#certs
			h4 Сертификаты, дипломы тренера:
			.owl-carousel.owl-theme#certs_carousel
				a(href="img/certs/cert_1.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_1_min.jpg" alt="Сертификат 1")
				a(href="img/certs/cert_2.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_2_min.jpg" alt="Сертификат 2")
				a(href="img/certs/cert_3.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_3_min.jpg" alt="Сертификат 3")
				a(href="img/certs/cert_4.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_4_min.jpg" alt="Сертификат 4")
				a(href="img/certs/cert_5.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_5_min.jpg" alt="Сертификат 5")
				a(href="img/certs/cert_6.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_6_min.jpg" alt="Сертификат 6")
				a(href="img/certs/cert_7.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_7_min.jpg" alt="Сертификат 7")
				a(href="img/certs/cert_8.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_8_min.jpg" alt="Сертификат 8")
				a(href="img/certs/cert_9.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_9_min.jpg" alt="Сертификат 9")
				a(href="img/certs/cert_10.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_10_min.jpg" alt="Сертификат 10")
				a(href="img/certs/cert_11.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_11_min.jpg" alt="Сертификат 11")
				a(href="img/certs/cert_12.jpg" data-fancybox="certs")
					img.certs_img(src="img/certs/cert_12_min.jpg" alt="Сертификат 12")
		h3.general_subtitle Отзывы учеников
		.owl-carousel.owl-theme#video_reviews
			.video_wrapper(data-youtube="YPNRLP8-QYg")
				img(src="img/video_reveiws/review_1.jpg" alt="Отзыв 1")
			.video_wrapper(data-youtube="6vZccb1scEA")
				img(src="img/video_reveiws/review_2.jpg" alt="Отзыв 2")
			.video_wrapper(data-youtube="q9cs-imRJac")
				img(src="img/video_reveiws/review_3.jpg" alt="Отзыв 3")
			.video_wrapper(data-youtube="NR-rYzjdRqs")
				img(src="img/video_reveiws/review_4.jpg" alt="Отзыв 4")
			.video_wrapper(data-youtube="vgtQfrMLNoA")
				img(src="img/video_reveiws/review_5.jpg" alt="Отзыв 5")
			.video_wrapper(data-youtube="NvkoV3aSt_Y")
				img(src="img/video_reveiws/review_6.jpg" alt="Отзыв 6")
		.owl-carousel.owl-theme#text_reviews
			a(href="img/text_reveiws/reveiw_1.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_1.jpg" alt="Отзыв 1")
			a(href="img/text_reveiws/reveiw_2.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_2.jpg" alt="Отзыв 2")
			a(href="img/text_reveiws/reveiw_3.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_3.jpg" alt="Отзыв 3")
			a(href="img/text_reveiws/reveiw_4.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_4.jpg" alt="Отзыв 4")
			a(href="img/text_reveiws/reveiw_5.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_5.jpg" alt="Отзыв 5")
			a(href="img/text_reveiws/reveiw_6.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_6.jpg" alt="Отзыв 6")
			a(href="img/text_reveiws/reveiw_7.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_7.jpg" alt="Отзыв 7")
			a(href="img/text_reveiws/reveiw_7.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_7.jpg" alt="Отзыв 7")
			a(href="img/text_reveiws/reveiw_8.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_8.jpg" alt="Отзыв 8")
			a(href="img/text_reveiws/reveiw_9.jpg" data-fancybox="text_reveiws")
				img(src="img/text_reveiws/reveiw_9.jpg" alt="Отзыв 9")