#author
    width: 100%
    padding 30px 0 55px
    background-image url(../img/about_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    overflow hidden
.olga_container
    position relative
#olga
    position absolute
    top: -3px;
    left: 36px;
#about
    h4
        font-size: 24px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin 53px 0 24px 7px
        position relative
        line-height: 1.2
        &:before
            content: ''
            display block
            background-color: c_green
            width: 71px
            height 3px
            position: absolute
            top: -9px
.about_list
    list-style none
    li
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        margin-bottom: 13px
#autor_blockquote
    padding: 56px 0 52px
    h5
        font-size: 16px;
        font-family: "RobotoLightItalic", sans-serif;
        color: rgb(8, 20, 32);
        line-height: 1.625;
        text-align: center;
        max-width 750px
        margin 0 auto