#footer
    padding: 48px 0 33px
    text-align: center
    background-image url(../img/footer_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    h5
        font-size: 24px;
        color: rgb(255, 252, 252);
        line-height: 1.042;
        margin 0
    p
    #conditions
        font-size: 14px;
        font-family: "OpenSansLight", sans-serif;
        color: rgb(254, 254, 254);
        line-height: 1.786;
    #conditions
        margin 15px 0 0
        text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color c_green
			box-shadow 0 5px 7px 0 rgba(#ffffbe, .35) inset
			color #00235A
			font-size 20px
			line-height 30px
			border-radius 50%
			&:hover
				color: #150d06