#main_screen
    width: 100%
    padding 0 0 137px
    background-image url(../img/main_bg.jpg)
    background-repeat no-repeat
    background-position center center
    background-size: cover
#header
	padding: 30px 0 20px
	overflow hidden
	z-index: 9
	position relative
#logo
	float: left
	opacity .6
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		font-size: 10px
		.fa
			color: #fbfdff
			font-size: 18px
			margin: 0 15px 0  40px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 16px;
			font-family: "RobotoLight", sans-serif, sans-serif;
			color: rgba(#fbfdff, .8)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.pre
    margin-top: 130px
    position relative
    font-size: 20px;
    font-family: "RobotoMedium", sans-serif;
    color: rgba(248, 250, 253, 0.502);
    text-transform: uppercase;
    line-height: 1.2
    &:before
        content: ''
        display: block
        background-color: c_green
        position: absolute;
        width: 119px;
        height: 3px;
        left 0
        top: -10px
.main_title
    max-width 615px
    margin 33px 0 17px
    font-size: 39px;
    color: #fbfdff
    line-height: 1.333;
    letter-spacing: -0.5px;
    span
        color c_green
.main_who
    font-size: 18px;
    font-family: "RobotoRegular", sans-serif;
    color: rgb(248, 250, 253);
    line-height: 1.2
.btn_n_date
    overflow hidden
    margin-top: 55px
    max-width 506px
.main_date
    border-left: 1px solid #f8fafd
    padding-left: 20px
    float: right
    margin-top: 9px
    p:first-child
        font-size: 16px;
        font-family: "RobotoMedium", sans-serif;
        color: rgba(248, 250, 253, 0.502);
        text-transform: uppercase;
        line-height: 1.2
        margin-bottom: 7px;
    p:last-child
        font-size: 18px;
        font-family: "RobotoRegular", sans-serif;
        color: rgb(248, 250, 253);
        line-height: 1.2
.button_main
    margin 0
    float: left