@media screen and (min-width 2400px)
	.container
		width 1400px
	.main_who
	.result h4
	#autor_blockquote h5
	#certs h4
		font-size: 24px
	.btnflip-item
	.result p
	.plan_day_list li
	.for_single p
	.main_date p:first-child
	.main_date p:last-child
	.about_list li
		font-size: 22px
	.btn_n_date
		max-width 550px
	.main_date
		margin-top: 2px
	#olga
		top: 30px
	#autor_blockquote h5
		max-width 950px
	#footer #conditions, #footer p
		font-size: 18px
@media screen and (max-width 1199px)
	#main_screen
		padding-bottom: 60px
	.contacts a .fa
		margin 0 7px 0 20px
	.pre
		margin-top: 60px
	.plan_day_first .plan_day_img
	.plan_day_third .plan_day_img
		margin-right: 20px
	.plan_day_fourth .day_container, .plan_day_second .day_container
		margin-left: 0
	.day_container
		max-width 55%
	#olga
		top:  15px
	.owl-carousel .owl-nav
		left 0
@media screen and (max-width 991px)
	#header
		padding-top: 20px
	#logo
		float: none
		display block
		margin 0 auto 10px
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
			margin-bottom: 10px
	.plan_day_img
	.plan_day_fourth .plan_day_img
		width: auto
		height auto
		max-width: 300px
	.flip-clock-wrapper
		width: 100%
	#olga
		left -40px
		top: 40px
	.owl-carousel .owl-nav
		width: 105%
		left -20px
	#results
		padding: 40px 0
	.results_button
	#certs_carousel
		margin-bottom: 50px
	#for
	#autor_blockquote
		padding-top:  40px
	.timer
		margin-bottom: 80px
	#prices
	#certs_and_reveiws
		padding-bottom: 40px
	#footer
		padding 30px 0
@media screen and (max-width 767px)
	.pre
	.btn_n_date
		margin-top: 30px
	.main_date
		float: none
		margin-top: 0
		border-left: 0
		padding-left: 0
		margin-bottom: 30px
	.button_main
		float: none
	.result
	.for_single
		max-width 400px
		margin  0 auto 40px
	.results_button
		margin-bottom: 70px
	.plan_day_first .plan_day_img, .plan_day_third .plan_day_img,
	.plan_day_first .plan_day_img
	.plan_day_fourth .plan_day_img, .plan_day_second .plan_day_img
		display:  block
		float: none
		margin: 0 auto 30px
	.day_container
	.plan_day_fourth .day_container, .plan_day_second .day_container
		float: none
		margin 0 auto
	.plan_day
		padding-bottom: 30px
	.plan_button
		margin-top: 50px
	#for
		margin-top: 0
	#plan
		padding-bottom: 60px
	.for_img
		margin: 0 163px 25px auto
	.col-md-offset-2
		margin-left: 0
	#price_container
		top -140px
	#olga
		position: static
		display block
		margin 0 auto
		max-width 380px
		width: 100%
	.owl-carousel .owl-nav
		width: 100%
		left 0
	.day_container
	.plan_day_fourth .day_container, .plan_day_second .day_container
		max-width 550px
		width: auto
	#text_reviews .owl-stage-outer
		min-height: 50px;
@media screen and (max-width 480px)
	#result_container
		margin 30px 0 60px
	#text_reviews .owl-nav
		top 10%
	.plan_button
		margin-top: 30px
	.for_img
		margin 0 auto 25px
		position relative
		left -12px
@media screen and (max-width 425px)
	.button
		width: 100%
		max-width 260px
	.contacts a .fa + span
		font-size: 12px
	.pre
		font-size: 18px
		&:before
			width: 107px;
	.main_title
		font-size: 26px
		margin-top: 20px
	.general_subtitle
		font-size: 24px
	#price_container
		padding 20px 10px
	.price
		text-align-last: center
		margin-bottom: 20px
		font-size: 22px
		span
			display: block
	.alert-danger
		font-size: 24px
	.flip-clock-divider
		display: none
	.flip-clock-wrapper
		margin-top: 20px
	.flip-clock-divider
		display: none
	.flip-clock-wrapper ul
		height 60px
	.flip-clock-wrapper ul li
		line-height: 60px
	.flip-clock-wrapper ul li a div.up::after
		top 29px;
		height 2px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 50px
	#prices
	#author
		padding-bottom: 30px
	#footer h5
		font-size: 20px
	.soc_buttons a
		margin 20px 8px 0
	#footer
		padding: 20px 0
		p
			margin-top: 20px
	#footer #conditions, #footer p
		font-size: 12px
