.plan_day
	overflow hidden
.plan_day_img
	width: 385px;
	height: 366px;
	float: left
	position: relative;
	bottom: -35px;
.day_container
	float left
	margin: 80px 0 68px
.plan_day_title
	font-size: 24px;
	color: rgb(8, 20, 32);
	text-transform: uppercase;
	margin 0 0 26px
	position relative
	line-height: 1.3
	&:before
		content: ''
		display block
		background-color: c_green
		position: absolute;
		width: 72px;
		height: 3px;
		top: -5px
		left 0
.plan_day_list
	list-style none
	li
		line-height: 1.222;
		margin-bottom: 12px
.plan_day_first
.plan_day_third
	width 100%
	background-image url(../img/day_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	.plan_day_title
	.plan_day_list li
		color #fff
.plan_day_second
.plan_day_fourth
	.day_container
		margin-left: 99px;
		width: 57%;
	.plan_day_img
		float: right
.plan_day_first
	.plan_day_img
		margin-right: 105px
// .plan_day_second
.plan_day_third
	.plan_day_img
		margin-right: 100px
.plan_day_fourth
	overflow visible
	.container
		position relative
	.plan_day_img
		position: absolute
		height: 447px;
		bottom: auto
.plan_button
	margin-top: 80px