#prices
    padding 0 0 75px
#price_container
    max-width 748px
    border-radius: 10px;
    background-image: url(../img/price_bg.jpg)
    background-repeat no-repeat
    background-position: center center
    background-size: cover
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    padding 41px 0 47px
    text-align: center
    margin 0 auto
    top -158px
.price
    font-size: 24px;
    font-family: "OswaldBold";
    color: rgb(16, 43, 90);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px
    span
        text-transform: none
#sale
    color #c80704
#today
    color #36c2a3
.button_buy
    margin-top: 37px